# Database - Replace with your Vercel Postgres or Supabase connection string
DATABASE_URL="postgresql://user:password@localhost:5432/zangetsu_etalase?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# App Config
NEXT_PUBLIC_APP_NAME="Zangetsu Etalase"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
